* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
div {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Courier Prime", sans-serif;
  font-size: 10px;
  color: #000;
  scroll-behavior: smooth;
}

.image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image--100 {
  height: 100%;
}
.image--auto {
  width: auto;
}
.image--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  height: 90px;
  border-bottom: 1px solid #808080;
}
.header__ctr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 50px;
}
@media screen and (max-width: 767px) {
  .header__ctr {
    padding: 20px;
  }
}
.header__logo {
  width: 150px;
  height: 50px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .header__list {
    position: absolute;
    width: 100%;
    height: 0;
    min-height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 90px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
  }
}
.header__list.is-active {
  height: 100vh;
  height: 100svh;
  min-height: initial;
  opacity: 1;
  visibility: visible;
}
.header__link {
  font-size: 16px;
  letter-spacing: 0.1em;
  position: relative;
  padding-bottom: 3px;
}
.header__link::after {
  content: "";
  width: 0;
  height: 1.5px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header__link:hover::after {
  width: 100%;
}
.header__hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.header__hamburger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header__hamburger span:nth-child(1) {
  top: 10px;
}
.header__hamburger span:nth-child(2) {
  bottom: 10px;
}
.header__hamburger.is-active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.header__hamburger.is-active span:nth-child(2) {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.button {
  max-width: 200px;
  width: 100%;
  padding: 10px;
  height: 50px;
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .button {
    max-width: 150px;
    height: 30px;
    padding: 5px;
  }
}
.button:hover {
  background-color: #fff;
}
.button:hover .button__text {
  color: #000;
}
.button__text {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .button__text {
    font-size: 10px;
  }
}
.button--white {
  background-color: #fff;
  border: 1px solid #000;
}
.button--white .button__text {
  color: #000;
}
.button--white:hover {
  background-color: #000;
}
.button--white:hover .button__text {
  color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}
.title__main {
  font-size: 3rem;
  letter-spacing: 0.1em;
  margin-bottom: 15px;
  line-height: 1.5em;
}
@media screen and (max-width: 767px) {
  .title__main {
    font-size: 25px;
  }
}
.title__sub {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .title__sub {
    font-size: 14px;
  }
}
.title__sm {
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .title__sm {
    font-size: 15px;
  }
}

.footer {
  padding-block: 50px 20px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__logo {
  width: 150px;
  height: 50px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__socials-link {
  width: 30px;
  height: 30px;
}
.footer__copyright {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  margin-top: 20px;
  text-align: center;
}

.ed__container {
  padding: 0 4%;
  margin: 0 auto;
  max-width: calc(1200px + 8%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .ed__container {
    max-width: 100%;
  }
}
.ed__mv {
  width: 100%;
  height: 100vh;
  padding-block: 200px;
}
.ed__mv-title {
  text-align: center;
}
.ed__title {
  font-size: 4rem;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .ed__title {
    font-size: 30px;
    margin-bottom: 5px;
  }
}
.ed__subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  color: #808080;
}
@media screen and (max-width: 767px) {
  .ed__subtitle {
    font-size: 12px;
  }
}
.ed__mv-info {
  max-width: 800px;
  width: 100%;
  margin: 30px auto 0;
}
@media screen and (max-width: 767px) {
  .ed__mv-info {
    max-width: 100%;
    margin: 15px auto 0;
  }
}
.ed__mv-text {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  line-height: 1.6666666667em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .ed__mv-text {
    font-size: 12px;
  }
}
.ed__mv-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .ed__mv-btn {
    gap: 25px;
    margin-top: 15px;
  }
}
.ed__skills {
  padding-block: 100px 150px;
  background-color: #f0f0f0;
}
@media screen and (max-width: 767px) {
  .ed__skills {
    padding-block: 50px 75px;
  }
}
.ed__skills-ctr:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .ed__skills-ctr:not(:last-child) {
    margin-bottom: 25px;
  }
}
.ed__skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .ed__skills-list {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .ed__skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.ed__skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .ed__skills-item {
    padding: 10px;
    border-radius: 5px;
  }
}
.ed__skills-title {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .ed__skills-title {
    font-size: 14px;
  }
}
.ed__skills-info {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .ed__skills-info {
    font-size: 12px;
  }
}
.ed__exp-item {
  padding: 20px 30px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 10px;
}
@media screen and (max-width: 767px) {
  .ed__exp-item {
    padding: 10px 15px;
  }
}
.ed__exp-item:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .ed__exp-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
.ed__exp {
  padding-block: 100px 150px;
}
@media screen and (max-width: 767px) {
  .ed__exp {
    padding-block: 50px 75px;
  }
}
.ed__exp-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.ed__exp-pos {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.2857142857em;
}
@media screen and (max-width: 767px) {
  .ed__exp-pos {
    font-size: 12px;
  }
}
.ed__exp-year {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px 7px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #000;
}
@media screen and (max-width: 767px) {
  .ed__exp-year {
    font-size: 10px;
  }
}
.ed__exp-company {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 1.2857142857em;
}
@media screen and (max-width: 767px) {
  .ed__exp-company {
    font-size: 12px;
  }
}
.ed__exp-company-list {
  margin-top: 20px;
}
.ed__exp-company-item {
  font-size: 1.4rem;
  letter-spacing: 0.07em;
  line-height: 1.2857142857em;
  position: relative;
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  .ed__exp-company-item {
    font-size: 12px;
  }
}
.ed__exp-company-item:not(:last-child) {
  margin-bottom: 10px;
}
.ed__exp-company-item::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 5px;
  left: 0;
}
.ed__education {
  padding-block: 100px 150px;
  background-color: #f0f0f0;
}
@media screen and (max-width: 767px) {
  .ed__education {
    padding-block: 50px 75px;
  }
}
.ed__education-row {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.ed__education-row:not(:last-child) {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .ed__education-row:not(:last-child) {
    margin-bottom: 25px;
  }
}
.ed__education-title {
  font-size: 1.6rem;
  letter-spacing: 0.07em;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .ed__education-title {
    font-size: 14px;
  }
}
.ed__education-school {
  font-size: 1.4rem;
  letter-spacing: 0.07em;
  display: block;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .ed__education-school {
    font-size: 12px;
  }
}
.ed__education-yr {
  font-size: 1.4rem;
  font-style: italic;
  letter-spacing: 0.07em;
  display: block;
}
@media screen and (max-width: 767px) {
  .ed__education-yr {
    font-size: 12px;
  }
}
.ed__education-list {
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  .ed__education-list {
    margin-top: 20px;
  }
}
.ed__education-desc {
  font-size: 1.4rem;
  position: relative;
  padding-left: 10px;
  line-height: 1.4285714286em;
}
@media screen and (max-width: 767px) {
  .ed__education-desc {
    font-size: 12px;
  }
}
.ed__education-desc::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 6px;
  left: 0;
}
.ed__education-desc:not(:last-child) {
  margin-bottom: 10px;
}
.ed__proj {
  padding-block: 100px 150px;
}
@media screen and (max-width: 767px) {
  .ed__proj {
    padding-block: 50px 75px;
  }
}
.ed__proj-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .ed__proj-list {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.ed__proj-item {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ed__proj-item:hover .ed__proj-img img {
  scale: 1.2;
}
.ed__proj-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ed__proj-img img {
  -webkit-transition: scale 0.3s ease-in-out;
  transition: scale 0.3s ease-in-out;
}
.ed__proj-info {
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .ed__proj-info {
    gap: 10px;
  }
}
.ed__proj-title {
  font-size: 1.8rem;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .ed__proj-title {
    font-size: 16px;
  }
}
.ed__proj-desc {
  font-size: 1.4rem;
  letter-spacing: 0.01em;
  line-height: 1.5714285714em;
  text-align: justify;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .ed__proj-desc {
    font-size: 12px;
    margin-top: 10px;
  }
}
.ed__proj-btn {
  max-width: 150px;
  width: 100%;
  height: 30px;
  background-color: #000;
  gap: 10px;
  border-radius: 5px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .ed__proj-btn {
    max-width: 100px;
  }
}
.ed__proj-btn img {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 767px) {
  .ed__proj-btn img {
    width: 13px;
    height: 13px;
  }
}
.ed__proj-btn:hover {
  opacity: 0.7;
}
.ed__proj-btn-text {
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 767px) {
  .ed__proj-btn-text {
    font-size: 10px;
  }
}
.ed__contact {
  padding-block: 100px 150px;
  background-color: #f0f0f0;
}
@media screen and (max-width: 767px) {
  .ed__contact {
    padding-block: 50px 75px;
  }
}
.ed__contact-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 830px) {
  .ed__contact-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .ed__contact-list {
    gap: 10px;
  }
}
.ed__contact-item {
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.ed__contact-item:hover {
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}
.ed__contact-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media screen and (max-width: 767px) {
  .ed__contact-link {
    gap: 10px;
    padding: 15px;
  }
}
.ed__contact-title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: block;
}
@media screen and (max-width: 767px) {
  .ed__contact-title {
    font-size: 14px;
  }
}
.ed__contact-text {
  font-size: 1.4rem;
  letter-spacing: 0.03em;
}

.overflow {
  overflow: hidden;
}

.pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .pc-tablet {
    display: none;
  }
}

@media screen and (min-width: 981px) {
  .sp-tablet {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp {
    display: block;
  }
}

.sp-flex {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .anchor {
    top: -100px;
  }
}

.hidden {
  display: none !important;
}

.icon {
  width: 25px;
  height: 25px;
}